.main-tables-container{
    display: flex;
    width: 930px;
    margin: 0 auto;
}
.fa-solid{
    display:none;
}
.main-img-container{
    
    background-image: url('/Assets/img/bitcoinbaby2x.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-card-container{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;

}
.plans-container--slider{
    justify-content: center;
}